<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/js")
    @Styles.Render("~/Content/css")
     @Html.Partial("_html5shiv")
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
