@using System.Configuration
@model Web.Areas.Login.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "用户登录";
}

@section head{
    <script type="text/javascript">
        $(function () {
            $("#UserName").focus();
        });
    </script>
}

<div class="jumbotron">
    <div class="container">
        <h1>@ConfigurationManager.AppSettings["SystemName"]</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 pull-right">
            <fieldset>
                <legend>用户登陆</legend>
                @using (Html.BeginForm("", "", new { role = "form" }))
                {
                    
                    <div class="form-group">

                        @Html.TextBoxFor(a => a.UserName, new { placeholder = "用户名", @class = "form-control" })
                    </div>
                    <div class="form-group">

                        @Html.PasswordFor(a => a.Password, new { placeholder = "密码", @class = "form-control" })
                    </div>
                    <div class="form-group">

                        @Html.DropDownListFor(a => a.EnterpriseId, (SelectList)ViewBag.EnterpriseId, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.Remember)
                        &nbsp;&nbsp;
                        @Html.EditorFor(a => a.Remember)
                    </div>
                
                    <div>
                        <button type="submit" class="btn  btn-primary">登陆</button>
                        @Html.ActionLink("忘记密码了？", "Index", "ForgotPassword")
                    </div>
                    <div>@Html.ValidationSummary(true)</div>
                }
            </fieldset>
        </div>
    </div>
    <hr>

    <footer>
        <p>@ConfigurationManager.AppSettings["Copyright"]</p>
    </footer>

</div>
